{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="col-md-6 offset-md-3">
    <span class="anchor"></span>
    <hr class="my-5">
    <div class="container-fluid d-flex justify-content-center align-content-center align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-10 col-sm-12 col  p-4"
                    style=" box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff !important;border-radius: 15px; background-color: #ecf0f3; ">
                    <h3 class="text-center">{{option}}</h3>
                    <hr>
                    <form action="{{url}}" method="post" enctype="multipart/form-data" onsubmit="show_alert()">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                {{ form.as_p }}
                            </div>
                        </div>
                        <div class="container">
                            <div class="row align-items-start">
                                <div class="col">
                                    <button class="btn btn-success btn-rounded " id="submit_btn"
                                        type="submit"> ✔️ Submit</button>
                                </div>
                                <div class="col">
                                    <a href="/details/"><button type="button" class="btn btn-dark btn-rounded "
                                            id="back" data-mdb-ripple-color="#ffffff"> <i class="fas fa-arrow-left"></i>
                                            Back</button></a>
                                </div>
                            </div>
                        </div>
                        <div id="spinner" style="display:none;">
                            Uploading Please Wait
                            <div class="spinner-border text-primary" role="status"><span class="visually-hidden"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function show_alert() {
        document.getElementById("submit_btn").style.visibility = "hidden"
        document.getElementById("back").style.visibility = "hidden"
        document.getElementById("spinner").style.display = "block"
        alertify.alert('Do not Close', 'Please Wait your details are updating.<div class="spinner-border text-primary" role="status"><span class="visually-hidden"></span></div>').set('maximize', true);
    }
</script>
<style>
    .errorlist {
        border: 2px red solid;
        background-color: #ecf0f3;
    }
</style>
{%endblock body%}