<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD Delete or modify your deatils</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
</head>

<body>{% load static %}
    <div class="container-fluid d-flex justify-content-center align-content-center align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-8 col-sm-12 col  p-4">
                    {% load static %}
                    {% if messages %}
                    {% for message in messages %}
                    <div id="alert"
                        class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                        role="alert">
                        <h5><strong> {{ message }}</strong></h5>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h3 class="text text-center"><b>Your family deatils</b></h3>
                    <div class="card border border-dark shadow-0 " style="background-color:#ecf0f3;">
                        <div class="card-body">
                            <p id="card-text">
                            <h5>Your details</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="background-color:#ecf0f3;">NAME :{%for member in main_member%} {{member.name}}{%endfor%}
                                </li>
                            </ul>
                            </p>
                            {%if partner%}
                            <p id="card-text">
                            <h5>Your Partner details</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="background-color:#ecf0f3;">NAME :{%for partner_obj in partner%} {{partner_obj.name}}{%endfor%}</li>
                            </ul>
                            </p>
                            {%endif%}
                            {%if children%}
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <h5>Your children Details</h5>
                                <li class="list-group-item" style="background-color:#ecf0f3;">Cras justo odio</li>
                            </ul>
                            </p>
                            {%endif%}
                        </div>
                        <div class="card-footer">
                            <form method="GET" action="/add-member/">
                                {% csrf_token %}
                                {%if addpatner %}
                                <button type="submit" class="btn btn-secondary btn-rounded   "
                                    data-mdb-ripple-color="#ffffff" name="option" value="Partner" > Add your Partner <i
                                        class="fas fa-male fa-2x"></i></button>
                                {%endif%}
                                {%if addchildren %}
                                <button type="submit" class="btn btn-secondary btn-rounded   "
                                    data-mdb-ripple-color="#ffffff" name="option" value="child" > Add your child <i
                                        class="fas fa-baby fa-2x"></i></button>
                                {%endif%}
                            </form>
                            <p>
                                <br>
                                <a href="/"><button type="button" class="btn btn-dark btn-rounded   "
                                        data-mdb-ripple-color="#ffffff"> <i class="fas fa-arrow-left"></i>
                                        Back</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            background-color: #ecf0f3 !important;
            padding: 0;
            margin: 0;
        }

        .container-fluid {

            width: 100%;
            height: 100vh;
        }

        .col {
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff !important;
            border-radius: 15px;
        }

        .form-group {
            margin: 30px 0px;
        }

        .form-group input {
            outline: none;
            background: #ecf0f3 !important;
            padding: 20px 10px 20px 5px;
            border: none;
            border-bottom: 2px solid white !important;
            border-radius: 5px;
        }

        .form-group .btn {
            width: 100%;
            border-radius: 15px;
        }
    </style>
</body>
<script>
    setTimeout(function () {
        $('#alert').alert('close');
    }, 3000);
</script>

</html>