{% extends "base.html" %}
{% block title %}ADD Delete or modify your deatils{% endblock %}
{% block body %}{% load static %}
    <div class="container-fluid d-flex justify-content-center align-content-center align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-8 col-sm-12 col  p-4">
                    <h3 class="text text-center"><b>Your family deatils</b></h3>
                    <div class="card border border-dark shadow-0 " style="background-color:#ecf0f3;">
                        <div class="card-body">
                            <p id="card-text">
                            <h5>Your details</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="background-color:#ecf0f3;">{%for member in main_member%} {{member.name}}        
                                    <a href="/update/{{member.id}}/"data-toggle="tooltip" title="EDIT DETAILS">
                                        <button type="button" class="btn btn-outline-dark btn-rounded   btn-sm" data-mdb-ripple-color="#000000"> 
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                    </a>{%endfor%}
                                </li>
                            </ul>
                            </p>
                            {%if partner%}
                            <p id="card-text">
                            <h5>Your partner details</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="background-color:#ecf0f3;">
                                    {%for partner_obj in partner%} 
                                    <form action="/delete/" method="POST" onsubmit="return confirm('Are you sure you want to delete {{partner_obj.name}}');" >
                                        {% csrf_token %}
                                    {{partner_obj.name}}
                                    <a href="/update/{{partner_obj.id}}/"data-toggle="tooltip" title="EDIT DETAILS">
                                        <button type="button" class="btn btn-outline-dark btn-rounded   btn-sm" data-mdb-ripple-color="#000000"> 
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                    </a>
                                    {%if not partner_delete %}
                                    {% if not partner_obj.is_requested_to_delete %}
                                    <a href="/delete/"data-toggle="tooltip" title="Delete Member">
                                        <button type="submit" value="{{partner_obj.id}}" name="id_to_delete" class="btn btn-outline-danger btn-rounded   btn-sm" data-mdb-ripple-color="#000000"> 
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </a>
                                    {% else %}
                                            <h5 class="badge badge-pill badge-danger" >Delete Request sent</h5>
                                    {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                    </form>
                                </li>
                            </ul>
                            </p>
                            {%endif%}
                            {%if children%}
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <h5>Your children details</h5>
                                {%for child_obj in children%}
                                <form action="/delete/" method="POST" onsubmit="return confirm('Are you sure you want to delete {{child_obj.name}}');" >
                                <li class="list-group-item" style="background-color:#ecf0f3;"> {{forloop.counter}}.{{child_obj.name}}
                                    <a href="/update/{{child_obj.id}}/"data-toggle="tooltip" title="EDIT DETAILS">
                                        <button type="button" class="btn btn-outline-dark btn-rounded   btn-sm" data-mdb-ripple-color="#000000"> 
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                    </a>
                                        {% csrf_token %}
                                        {% if not child_obj.is_requested_to_delete %}
                                        <a href="/delete/"data-toggle="tooltip" title="Delete Member">
                                            <button type="submit" value="{{child_obj.id}}" name="id_to_delete" class="btn btn-outline-danger btn-rounded   btn-sm" data-mdb-ripple-color="#000000"> 
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </a>
                                        {% else %}
                                            <h5 class="badge badge-pill badge-danger" >Delete Request sent</h5>
                                        {%endif%}
                                    </form>
                                </li>{%endfor%}
                            </ul>
                            </p>
                            {%endif%}
                        </div>
                        <div class="card-footer">
                            <form method="GET" action="/add-member/">
                                {% csrf_token %}
                                {%if addpatner %}
                                <button type="submit" class="btn btn-primary "
                                    data-mdb-ripple-color="#ffffff" name="option" value="Partner" > Add your Partner <i
                                        class="fas fa-male fa-2x"></i></button>
                                {%endif%}
                                {%if addchildren %}
                                <button type="submit" class="btn btn-secondary"
                                    data-mdb-ripple-color="#ffffff" name="option" value="child" > Add your child <i
                                        class="fas fa-baby fa-2x"></i></button>
                                {%endif%}
                            </form>
                            <p>
                                <br>
                                <a href="/"><button type="button" class="btn btn-dark btn-rounded   "
                                        data-mdb-ripple-color="#ffffff"> <i class="fas fa-arrow-left"></i>
                                        Back</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
        body {
            background-color: #ecf0f3 !important;
            padding: 0;
            margin: 0;
        }

        .col {
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff !important;
            border-radius: 15px;
        }
</style>   
<script>
    window.onload = function () {
        {% if messages %}
        {% for message in messages %}
        alertify.set('notifier','position', 'top-center');
        alertify.success( '{{ message }}' );
        {% endfor %}
        {% endif %}
    }
</script>
{%endblock body%}